.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-images2 {
  width: 1.125em;
}

.icon-connection {
  width: 1.25em;
}

.icon-books {
  width: 1.125em;
}

.icon-library {
  width: 1.0625em;
}

.icon-price-tags {
  width: 1.25em;
}

.icon-history {
  width: 1.0625em;
}

.icon-keyboard2 {
  width: 1.125em;
}

.icon-bubbles2 {
  width: 1.125em;
}

.icon-bubbles22 {
  width: 1.125em;
}

.icon-bubbles3 {
  width: 1.125em;
}

.icon-bubbles4 {
  width: 1.125em;
}

.icon-users3 {
  width: 1.125em;
}

.icon-menu22 {
  width: 1.375em;
}

.icon-menu3 {
  width: 1.375em;
}

.icon-menu4 {
  width: 1.375em;
}

.icon-volume-high {
  width: 1.0625em;
}

.icon-embed2 {
  width: 1.25em;
}

.icon-youtube22 {
  width: 2.5087890625em;
}

.icon-laptop {
  width: 1.3125em;
}

.icon-desktop {
  width: 1.21875em;
}

.icon-tablet {
  width: 0.78125em;
}

.icon-phone {
  width: 0.59375em;
}

.icon-flag {
  width: 0.875em;
}

.icon-map {
  width: 1.28125em;
}

.icon-puzzle {
  width: 1.09375em;
}

.icon-basket {
  width: 1.3125em;
}

.icon-envelope {
  width: 1.1875em;
}

.icon-tools {
  width: 0.96875em;
}

.icon-profile-male {
  width: 1.125em;
}

.icon-profile-female {
  width: 1.125em;
}

.icon-globe {
  width: 0.78125em;
}

.icon-map-pin {
  width: 0.75em;
}

.icon-chat {
  width: 1.3125em;
}

.icon-heart {
  width: 1.15625em;
}

.icon-switch2 {
  width: 1.111328125em;
}
.icon-html-five {
  width: 3.111328125em;
}
